<nav id="navbar-component" class="navbar navbar-expand-lg navbar-light">
<a class="navbar-brand text-light" href="/"><h3 style="font-size: 40px;"><strong>Gotham</strong></h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" style="color: white; font-size: 20px;" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" style="color: white; font-size: 20px;" routerLink="login">Login</a>

      </li>
      <li class="nav-item">
          <a class="nav-link" style="color: white; font-size: 20px;" routerLink="register">Sign Up</a>

      </li>
      <li class="nav-item">
          <a class="nav-link" style="color: white; font-size: 20px;" routerLink="contact">Contact</a>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-md-0"  action="/search" role="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search a movie" name="imagesearch" aria-label="Search">
      <button class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>