<div class="container-fluid">
    <h1 style="color: white;">More Movies</h1>
    <div class="row">
        <div class="col-sm-3 mt-4">
        <img  width="100%"  src="/assets/images/100.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
        <img width="100%" src="/assets/images/ann6.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
        <img  width="100%"  src="/assets/images/ann8.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
        <img  width="100%"  src="/assets/images/ann1.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
        <img  width="100%"  src="/assets/images/omosh1.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/ann2.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/ann3.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/ann4.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/ann5.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/clarck.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-5">
            <img  width="100%"  src="/assets/images/legends.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/mabele.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/mabele2.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/michi.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/see.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/omosh.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/original.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/200.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/ann7.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/1000.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/ann9.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/family.jpeg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/raponzo.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/arey.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/things.jpg" alt="">
        </div>
        <div class="col-sm-3 mt-4">
            <img  width="100%"  src="/assets/images/house.jpg" alt="">
        </div>
    </div>
</div>
<footer style="font-size: 50px; color: white;">Coming Soon</footer>