<section id="bodyPage">
    <div class="container">
        <h1 style="color: white;" class="pt-3">Trending Movies</h1>
        <div class="row">
            <div *ngFor="let movie of movies" class="col-sm-3 mt-4 hover01 column">
                <figure><a routerLink="/home/{{ movie.id }}"><img width="100%" height="150px" src="{{ movie.poster }}"
                            class="img-fluid" alt=""></a></figure>
            </div>
        </div>
        <!-- <div class="col-sm-3 mt-4 hover01 column">
                <figure><img width="100%" src="/assets/images/ann6.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann8.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann1.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/omosh1.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann2.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann3.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann4.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann5.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/clarck.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-5 hover01 column">
                <figure><img  width="100%"  src="/assets/images/legends.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/mabele.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/mabele2.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/michi.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/see.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/omosh.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/original.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/200.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann7.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/1000.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/ann9.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/family.jpeg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/raponzo.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/arey.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/things.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/house.jpg" alt=""></figure>
            </div>
        </div>
    </div>
    <p style="font-size: 50px; color: white;">Coming Soon</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/baru.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/brake.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/dark.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/fauda.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/monye.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/morning.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/prote.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/the.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/too.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/tow.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/up.jpg" alt=""></figure>
            </div>
            <div class="col-sm-3 mt-4 hover01 column">
                <figure><img  width="100%"  src="/assets/images/you.jpg" alt=""></figure>
            </div>
            
        </div> -->


    </div>

</section>