/* You can add global styles to this file, and also import other style files */
body{
    scroll-behavior: smooth;
    background-image:url('/assets/images/200.jpg');
    min-height: 80vh;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    }
 
 .imagea{
     margin-top:34%;
     font-size:45px;
     font-weight:bolder;
     }