<div class="container">
  <div class="register mt-3 mb-3">
    <form #registerForm="ngForm">
      <h1>Gotham Entertainment Register</h1>
      <div class="form-group">
        <input [(ngModel)]="register.username" name="username" placeholder="Username..." class="form-control">
      </div>
      <div class="form-group">
        <input [(ngModel)]="register.email" type="email" name="email" placeholder="Email..." class="form-control">
      </div>
      <div class="form-group">
        <input [(ngModel)]="register.password" type="password" name="password" placeholder="Password..."
          class="form-control">
      </div>
      <button (click)="registerUser()" class="btn btn-md btn-dark">Register</button>
    </form>
    <span class="text-muted">Already have an account? <a routerLink="/login">Login</a></span>
  </div>
</div>