@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.register {
  width: 60%;
  margin: auto;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.75);
  padding: 20px;
  background-color: whitesmoke;
}
.register h1, h3 {
  font-family: 'Righteous', cursive;
}